SQL function fix: CREATE OR REPLACE FUNCTION public.match_en_documents(query_embedding vector, match_count integer DEFAULT 5, filter jsonb DEFAULT \"{}\", match_threshold real DEFAULT 0.5) RETURNS TABLE(id bigint, content text, metadata jsonb, url text, similarity real) LANGUAGE plpgsql AS $$BEGIN RETURN QUERY SELECT "EN_documents".id, "EN_documents".content, CASE WHEN "EN_documents".metadata IS NULL THEN \"{}\"::jsonb WHEN jsonb_typeof("EN_documents".metadata) = \"string\" THEN CASE WHEN "EN_documents".metadata::text ~* \"^[\\{\\[].*[\\}\\]]$\" THEN ("EN_documents".metadata::text)::jsonb ELSE jsonb_build_object(\"text\", "EN_documents".metadata) END ELSE "EN_documents".metadata END as metadata, "EN_documents".url, (1 - ("EN_documents".embedding <=> query_embedding))::real AS similarity FROM "EN_documents" WHERE 1 - ("EN_documents".embedding <=> query_embedding) > match_threshold ORDER BY "EN_documents".embedding <=> query_embedding LIMIT match_count; END;$$;
